* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body {
    color: aliceblue;
}

h3 {
    text-align: center;
    font-size: 25px;
    color: black;
    margin: 30px auto;
}

form {
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 60px;
    background: rgb(59, 52, 52);
    display: flex;
    align-items: center;
    border-radius: 8px;
}

form input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: aliceblue;
    font-size: 18px;
    padding: 0 30px;
}

form button {
    padding: 0 40px;
    height: 100%;
    cursor: pointer;
    background: rgb(13, 244, 10);
    font-size: 20px;
    font-weight: 600;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#show-btn {
    background: rgb(13, 244, 10);
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    visibility: hidden;
}

#search-result {
    width: 80%;
    margin: 100px auto 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

#search-result img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}